<!DOCTYPE html>
<html>
<style>
body {
  background-image: url('assets/image/fpbi.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  height: 720px;
}
</style>
<body>

    <br><br><br>
    <div class="container">
        <div class="row m-3">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="card"  style="background-color: transparent;">
                    <div class="card-body">
                         <!--
                         <h3 class="text-center">Add Expence</h3>
                         <br>
                         <h5>Select Category</h5>
                         <input type="text" class="form-control" [(ngModel)]="expence.category"> 
                         <select [ngModel]="selected" (ngModelChange)="onChange($event)"  class="form-control">
                             <option  class="form-control" *ngFor="let category of categories" [value]="category.data.name">{{category.data.name}}</option>
                         </select>
                         
                         <br>
                         <h5>Enter Amount</h5>
                         <input type="number" class="form-control" placeholder="Enter Amount" [(ngModel)]="amount">
                         <br>
                         <br>
                        <button class="btn btn-primary" (click)="addExpence()">Add</button> -->
                        <form width="100%" #resetpassword="ngForm" (ngSubmit)="onResetSubmit(resetpassword)">
                            <table align="center" width="100%" style="box-shadow: 1px 1px 5px 5px whitesmoke">
                                <tr>
                                    <td style="text-align: center; padding: 5%; color: white;" ><h2>Reset Your Password</h2></td>
                                </tr>
                                <tr>
                                <td style="padding: 20px; text-align: center; " ><input type="text" style="color:white; background: transparent;" placeholder="Enter your Email" name="resetemail" ngModel>
                                    <br><br>
                                    <button type="submit" class="btn btn-success " >Reset</button></td>
                                </tr>
                            </table> 
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</body>
</html>
