<!DOCTYPE html>
<html>
<style>
body {
  background-image: url('assets/image/about2.jpg');
  background-repeat: no-repeat;
 /* background-attachment: fixed;   */
  background-size: cover;
  height: 700px;
}
</style>
<body>

  
<div class="welcome-text" >
             <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color:oldlace; text-align: center; padding-top: 250px; background-color: transparent;"> Financial Application</h1>
             <button type="button" class="btn btn-secondary" style="margin-top:100px; margin-left:700px; color:blue;text-size-adjust: 40px;">Contact us</button>
       
             
 <div style="background-image: url('assets/image/catBG.jpg');
             background-repeat: no-repeat; margin-top: 250px;">
                <h2 style="padding-top: 20px; text-align:center; font-style: italic; font-family: fantasy; color: lightsalmon;">About Us</h2>
                 <p style="padding-top:2px; font-size: 20px; text-align: center; font-family: 'Times New Roman', Times, serif; ">
                   Financial App was created with angular to  help it reach a wider market, our services help individual and business all over world. </p>
                 <p style="padding-top:2px; font-size: 20px; text-align: center; font-family: 'Times New Roman', Times, serif;">   we ensure that financial app runs reliably on every platform from pc and smartphone. </p> 
                 <p style="padding-top:2px; font-size: 20px; text-align: center; font-family: 'Times New Roman', Times, serif;">    I share a belief that finance app should empower and not get in there way.    </p>
                 <p style="padding-top:2px; font-size: 20px; text-align: center; color:gold;" >                                                      
                  "we believe that good design is powerful , hard work is essential and exploring the unknown is important"
                </p>  <p style="padding-top:1px; font-size: 20px; text-align: center; font-family: 'Times New Roman', Times, serif;">
                We provide our customers with nothing but the services, that are guaranteed to meet their needs and keep them satisfied. </p>
                <p style="padding-top: 0px; font-size: 20px; text-align: center; font-family: 'Times New Roman', Times, serif;"> 
                That’s why we’re always looking for innovative new ways to get the best to you. 
                     </p>
     <h2 style="padding-top: 20px; text-align:center; font-style: italic; font-family: fantasy; color: lightsalmon;">Our Services</h2>
              
    <h2 style="padding-top: 10px; text-align:left; font-style: italic; font-family: fantasy; color: blue; margin-left: 20px;">Category</h2>
    
    <p style="margin-left: 20px; padding-top:2px; font-size: 20px; text-align: left; font-family: 'Times New Roman', Times, serif; ">
  In the category section, users can add and delete the categories that they choose. </p>

    <p style="margin-left: 20px; padding-top:2px; font-size: 20px; text-align: left; font-family: 'Times New Roman', Times, serif; ">
  To make this work even more simple, users have the ability to edit their categories as well.  </p>

  <p style="margin-left: 20px; padding-top:2px; font-size: 20px; text-align:left; font-family: 'Times New Roman', Times, serif; ">
  It will help the users to customize their list. 
   </p>


    <h2 style="padding-top: 30px; text-align:left; font-style: italic; font-family: fantasy; color: blue; margin-left: 20px;">Expences</h2>
    
    <p style="margin-left: 20px; padding-top:2px; font-size: 20px; text-align:left; font-family: 'Times New Roman', Times, serif; ">
    There is one more option available for tracking your expenses. </p>

    <p style="margin-left: 20px; padding-top:2px; font-size: 20px; text-align: left; font-family: 'Times New Roman', Times, serif; ">
    You can track your expenses by just listing them in the expenses section. </p>

    <p style="margin-left: 20px; padding-top:2px; font-size: 20px; text-align:left; font-family: 'Times New Roman', Times, serif; ">
    The application will also provide the proper handling of the expenses table where you can easily delete and edit the entries.
    </p>
  
 </div>
</div>
</body>
</html>
    
    
    