<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:blanchedalmond;
}

li {
  float: left;
}

li a {
  display: block;
  color:brown;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

li a:hover {
  background-color:burlywood;
}
</style>
</head>
<body>

<ul style="width: 100%;">
  <li><a routerLink="/about" routerLinkActive="active"><b>About</b></a></li>
  <li><a routerLink="/category" routerLinkActive="active"><b>Category</b></a></li>
  <li><a routerLink="/expences" routerLinkActive="active"><b>Expences</b></a></li>
  <li><a (click)="logout()" routerLinkActive="active"><b>Logout</b></a></li>
  
  <a class="navbar-brand" href="#" style="margin-left:850px;">
    <img src="assets/image/financelogo.jpg" width="150" height="70" alt="">
  </a>
 

</ul>
<img src="assets/image/main-page.jpeg" width="100%" height="800px" alt="">
</body>
</html>
