<div class="container">
    <div class="row my-5">
        <div class="col-lg-3 col-md-4 col-4"></div>
        <div class="col-lg-8 col-md-8 col-12 text-center">
            <form width="100%" #resetpassword="ngForm" (ngSubmit)="onResetSubmit(resetpassword)">
                <table align="center" width="100%" style="box-shadow: 1px 1px 20px 20px whitesmoke">
                    <tr>
                        <td style="padding: 5%;"  class="bg-success"><h2>Reset Your Password</h2></td>
                    </tr>
                    <tr>
                    <td style="padding: 20px;" class="bg-dark"><input type="text" placeholder="Enter your Email" class="bg-dark" name="resetemail" ngModel>
                        <br><br>
                        <button type="submit" routerLink="signin" class="btn btn-success my-3">Reset</button></td>
                    </tr>
                </table> 
            </form>
        </div>
    </div>
</div>
