<body style="background-image: url('assets/image/signbg.jpg');  background-position: center;
background-repeat: no-repeat;
background-size: cover; margin-left: 250px; margin-right: 250px; height: 600px;"   >
    

<div class="row" >
  <div class="col-lg-3">

  </div>
  <div class="col-lg-6">
  <form (ngSubmit)="login(signinForm)" #signinForm="ngForm">
    <h3 style="text-align: center; font-family: cursive; color:#9a9e65f5;">Finance App</h3>
   <h2> <p style="text-align: center;">  Welcome To FinanceApp </p> </h2>
      <br>
    
      <input type="email" placeholder="Email ID" class="form-control" name="email" ngModel><br><br>
     
      <input type="password" placeholder="password" class="form-control" name="password" ngModel><br><br>
           
      <a routerLink="/reset-password">forgot password?</a><br>
      <a routerLink="/auth/signup">New User</a><br>
      <button class="btn btn-success my-3 w-100"  type="submit">Login</button>
      
      <button style="margin-bottom:20px;" class="btn btn-danger w-100" (click)="google()">Google</button>  
  </form>
  </div>
  <div class="col">

  </div>
</div>
</body>





















