<footer><div class="row">
    <div class="col-md-3">
        <a href="mailto:shrimali.saransh16@gmail.com" style="text-align: center; margin-left:100px;"><b>E-mail Id</b></a>
    </div>
    <div class="col-md-3">
        <a href="http://wa.me/7014806169"style="text-align: center;"><b>Contact us. : 7014806169</b></a>
    </div>

    <div class="col-md-3">
        <a href="#"style="text-align: center;"><b>Address : 202,Celebration Mall,Bhuwana Road, Udaipur (Rajasthan)</b></a>
    </div>

    <div class="col-md-3">
        <a href="#"style="text-align: center; margin-left:50px"><b>Financial Application</b></a>
    </div>
</div>
</footer>