<footer><div class="row" style="margin-left:0px;margin-right:0px;text-align: center;">
    <div class="col-md-3">
        <a href="mailto:shrimali.saransh16@gmail.com" ><b>E-mail Id</b></a>
    </div>
    <div class="col-md-3">
        <a href="http://wa.me/7014806169"style="text-align: center;"><b>Contact us. : 7014806169</b></a>
    </div>

    <div class="col-md-3">
        <a href="#"style="text-align: center;"><b>Address : 202,Celebration Mall,Bhuwana Road, Udaipur (Rajasthan)</b></a>
    </div>

    <div class="col-md-3">
        <a href="#"style="text-align: center;"><b>Financial Application</b></a>
    </div>
</div>
</footer>